.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action, .home-blog .hero .huawei
  color: $textColor!important

//解决滚动条宽度超出问题
.home-blog
  canvas
   width calc(100vw - 5px)!important
// 文章和标签中间的竖线
.home-blog .home-blog-wrapper .info-wrapper .num > div:first-child {
    border-right: 1px solid var(--border-color);
} 

//首页中间字体颜色
.hero .description, .hero h1 {
    color: #fff;
    font-weight: 700;
    background-image: -webkit-gradient(linear,left 0,right 0,from(#ffffff),to(#2c3e50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//文章背景图片
//.abstract img{
//  height:200px;
//}

//在手机模式下不显示该样式
@media (max-width: $MQMobile)
  .doraemon
      display none

.about
  .aboutNav
    list-style none
    display flex
    justify-content space-between
    padding 0
    // box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    .aboutNavItem
      width 12.5%
      background #F0F2F4
      color #000000
      padding 5px 10px
      text-align center
      cursor pointer
      &:hover
        background #FF66CC
        color #ffffff
  .aboutContent
    width 100%;
    box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    border-radius 0.25rem
    padding 10px
    box-sizing border-box
    .colors
      .midnightblue
        color midnightblue
        background-color midnightblue
      .blue
        color blue
        background-color blue
      .deepskyblue
        color deepskyblue
        background-color deepskyblue
      .cornflowerblues
        color cornflowerblue
        background-color cornflowerblue
      .lightskyblue
        color lightskyblue
        background-color lightskyblue
        height 21px
      li
        height 21px
        &:hover
          color #ffffff
    ul
      padding 0
      margin 0
      list-style none
      line-height 21px
      img
        width 16px
        height 16px
        margin 0 5px
      li
        // background #F0F2F4
        padding 0 5px
        margin-bottom 5px
        display: flex;
        align-items: center;
        &:last-child
          margin 0
